@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:600,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro";
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
}

h1,
h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #c84631;
}

p {
  font-size: 0.9em;
  line-height: 1.5;
  color: #121212;
  margin-bottom: 30px;
}

ul {
  font-size: 1.1em;
  line-height: 1.5;
  color: #121212;
}

#photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  height: 400px;
  overflow: hidden;
}

#photo-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-btn {
  background-color: #c84631;
}

#submit-btn:hover {
  background-color: #b5311d;
}

#guess-input {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: #4a4a4a;
  color: #fff;
  margin-left: 1rem;
  font: inherit;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #333; /* add a subtle box shadow */
}

button:hover {
  background-color: #3a3a3a;
  box-shadow: 0px 2px 0px #333; /* add a smaller box shadow on hover */
}

.custom-confirm-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-confirm-modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  text-align: center;
}

#ok-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border: none;
}

footer {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

footer a:hover {
  border-bottom: none;
}

/* Media query for responsiveness */
@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
    overflow-y: auto;
    min-height: 100vh;
  }

  .timer,
  .score {
    font-size: 1rem;
  }

  #photo-container {
    height: 250px;
    margin-bottom: 20px;
  }

  label {
    font-size: 1rem;
  }

  #guess-value {
    font-size: 1.2rem;
  }

  button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}
