#correct-answer-marker {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

#correct-answer-marker:before {
  content: "";
  position: absolute;
  border-style: solid;
  margin-top: 1.5rem;
  border-width: 1rem 1rem 1.5rem 1rem;
  border-color: transparent transparent #323232 transparent;
}

#guess-input-wrapper {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#guess-input {
  appearance: none;
  width: 100%;
  height: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: transparent;
  padding: 0.25rem;
  border: 1px solid #121212;
  cursor: pointer;
  user-select: none;
  outline: none;
}

#guess-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 0 transparent;
}

#guess-input::-moz-range-thumb {
  width: 36px;
  height: 36px;
  background-color: red;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 10px transparent;
}

#guess-value {
  position: absolute;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  transform: translateY(-60%);
  background-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  user-select: none;
}

.timeline-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.timeline-mark {
  position: absolute;
  top: 0px;
  width: 1px;
  height: 10px;
  background-color: #d6d6d6;
}

.timeline-mark--major {
  height: 28px;
  background-color: #666;
}

.year-label {
  position: absolute;
  font-size: 0.8rem;
  color: #666;
  bottom: -20px;
  transform: translateX(-50%);
  user-select: none;
  z-index: 1;
}

/* Media queries for mobile-friendly adjustments */
@media (max-width: 600px) {
  #guess-value {
    font-size: 1.4rem;
  }

  .year-label {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  #guess-value {
    font-size: 1.2rem;
  }

  .year-label {
    font-size: 0.8rem;
  }

  #guess-input::-moz-range-thumb {
    width: 50px;
    height: 50px;
  }
}
